<script src="{{url_for('static', filename='js/manageDocument.js')}}"></script>

<div class="container">
	<form method = "post" id="manageDocumentForm">
		<label for="titulo">Título:</label><br>
		<input class="form-control" type="text" id="titulo" value="{{ titulo }}"/>

		<label for="autores">Autores:</label><br>
		<input class="form-control" type="text" id="autores" value="{{ autores }}"/>

		<label for="orientadores">Orientadores:</label><br>
		<input class="form-control" type="text" id="orientadores"  value="{{ orientadores }}"/>

		<label for="InstEns">Instituição de ensino:</label><br>
		<input class="form-control" type="text" id="InstEns"  value="{{ InstEns }}">

		<label for="keyword">Adicionar Palavra-chave:</label><br>
		<input class="form-control" type="text" id="keyword" value="{{ keyword }}">

		<label for="resumo">Resumo:</label><br>
		<input class="form-control" type="text" id="resumo"  value="{{ resumo }}">

		<input style="display: none;" id="id" value="{{ id }}">

		{% if session.get('admin') %}
		<div id="sendBtn" class="button mt-3">
			<button class="btn btn-outline-success me-auto">Alterar</button>
		</div>
		{% endif %}
	</form>           
</div>