<script src="/document/manage/manageDocument.js"></script>

<div class="container">
	<form method = "post">
		<label for="titulo">Título:</label><br>
		<input class="form-control" type="text" id="titulo"/>

		<label for="autores">Autores:</label><br>
		<input class="form-control" type="text" id="autores"/>

		<label for="orientadores">Orientadores:</label><br>
		<input class="form-control" type="text" id="orientadores"/>

		<label for="InstEns">Instituição de ensino:</label><br>
		<input class="form-control" type="text" id="InstEns">

		<label for="keyword">Adicionar Palavra-chave:</label><br>
		<input class="form-control" type="text" id="keyword">

		<label for="resumo">Resumo:</label><br>
		<input class="form-control" type="text" id="resumo">

		<div id="sendBtn" class="button mt-3">
			<button class="btn btn-outline-success me-auto">Alterar</button>
		</div>
	</form>           
</div>