<link rel="stylesheet" href="{{url_for('static', filename='css/createDocument.css')}}">
<script src="{{url_for('static', filename='js/createDocument.js')}}"></script>

<div class="container">
	<form  id="createDocumentForm">
		<label for="titulo">Título:</label><br>
		<input class="form-control" type="text" id="titulo"/>

		<label for="autores">Autores:</label><br>
		<input class="form-control" type="text" id="autores"/>

		<label for="orientadores">Orientadores:</label><br>
		<input class="form-control" type="text" id="orientadores"/>

		<label for="InstEns">Instituição de ensino:</label><br>
		<input class="form-control" type="text" id="InstEns">

		<label for="tipo">Tipo de documento:</label><br>
		<select class="form-control" name="Tipo" id="tipo">
			<option value="pfc">PFC</option>
			<option value="dis">Dissertação</option>
			<option value="tese">Tese</option>
		</select>

		<label for="keyword">Palavra-chave:</label><br>
		<input class="form-control" type="text" id="keyword">

		<label for="resumo">Resumo:</label><br>
		<input class="form-control" type="text" id="resumo">

		<label for="myfile">Selecione o arquivo:</label><br>
		<input accept=".pdf" class="form-control-file" type="file" id="myfile" name="myfile">
		<div class="button ">

		<div class="button mt-3">
			<button id="btnCreate" class="btn btn-outline-success me-auto" type="submit" ><span>Enviar</span></button>
		</div>
	</form>           
</div>
