<script type="application/javascript" src="{{url_for('static', filename='js/search.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">

<div class="searchContainer">
    {% if session.get("user_id") %}
    <div class="mt-2">
        <form class="row justify-content-around" id="searchForm">
            <div class="col-9">
                <input class="form-control" type="text" placeholder="Pesquisa de documentos" id="searchInput">
            </div>
            <button id="searchBtn" class="btn btn-outline-success col-1" type="submit">
                <i class="bi bi-search"></i>
            </button>
            <button id="addBtn" class="btn btn-outline-success col-1" type="button">
                <i class="bi bi-plus-square"></i>
            </button>
        </form>
    </div>

    <table id="docsTable" class="table table-hover mt-3">
        <thead>
            <th>Titulo do documento</th>
            <th>
                Data de envio
            </th>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
    
    <div class="modal fade" id="modalContainer" role="dialog" aria-hidden="true"></div>
    {% else %}
    <div id="blockAccess">
        <i class="bi bi-file-earmark-lock2" id="lock"></i>
        <h1>Acesso não autorizado!</h1>
        <h2>Efetue Login</h2>
    </div>
    {% endif %}
</div> 