<script type="application/javascript" src="{{url_for('static', filename='js/search.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<div class="searchContainer">
    {% if session.get("user_id") %}
    <table id="docsTable" class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Titulo do documento</th>
                <th>Tipo</th>
                <th>Autores</th>
                <th>Data de envio</th>
            </tr>
        </thead>
    </table>
    
    <div class="modal fade" id="modalContainer" role="dialog" aria-hidden="true"></div>
    {% else %}
    <div id="blockAccess">
        <i class="bi bi-file-earmark-lock2" id="lock"></i>
        <h1>Acesso não autorizado!</h1>
        <h2>Efetue Login</h2>
    </div>
    {% endif %}
</div> 