<script type="application/javascript" src="{{url_for('static', filename='js/search.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">

<div class="searchContainer">
    {% if session.get("user_id") %}
    <div class="d-flex justify-content-around row mt-2">
        <div class="col-9">
            <input class="form-control" type="text" placeholder="Pesquisa de documentos">
        </div>
        <button id="searchBtn" class="btn btn-outline-success col-1" type="submit">
            <i class="bi bi-search"></i>
        </button>
        <button id="addBtn" class="btn btn-outline-success col-1" type="button">
            <i class="bi bi-plus-square"></i>
        </button>
    </div>

    <table id="docsTable" class="table table-hover mt-5">
        <thead>
            <th>Titulo do documento</th>
            <th>
                Data de envio
            </th>
        </thead>
        <tbody id="tableBody">
            {% for document in g.user['documents']%}
            <tr>
                <td>
                   {{ document['titulo'] }} 
                </td>
                <td>
                    {{ document['data'] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="modal fade" id="modalContainer" role="dialog" aria-hidden="true"></div>
    {% else %}
    <div id="blockAccess">
        <i class="bi bi-file-earmark-lock2" id="lock"></i>
        <h1>Acesso não autorizado!</h1>
        <h2>Efetue Login</h2>
    </div>
    {% endif %}
</div> 