<script src="{{url_for('static', filename='js/navbar.js')}}"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='assets/portal_logo.png')}}" width="100">
    </a>

    {% if session.get("user_id") %}
    <div id="userOptions" >
      {% if session.get("admin") %}
      <button id="addUserBtn" class="btn btn-outline-success mx-1" type="button">
        <i class="bi bi-person-plus"></i>
      </button>
      {% endif %}
      <button id="logoutBtn" class="btn btn-outline-success mx-1" type="button">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>

    {% else %}
    <form id="loginForm" method="POST" action="/auth/login" class="d-flex">
      <input name="login" id="loginInput" class="form-control mr-2" type="search" placeholder="Login" aria-label="Search">
      <input name="senha" id="passwordInput" class="form-control mr-2" type="password" placeholder="Senha" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
    {% endif %}
  </div>
</nav>         

<div class="modal fade" id="modalContainer" role="dialog" aria-hidden="true"></div>