#docsTable tr {
    cursor: pointer !important;
}

.searchContainer #blockAccess {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContainer #blockAccess #lock {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.searchContainer #blockAccess h2 {
    color: rgba(0,0,0,0.6);
}

.btn-add {
    margin-right:0;
}
